<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-- PortFolio Website</title>
    <script src="https://kit.fontawesome.com/1935d064dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/media-query.css">
</head>
<body>
    <div class="all">
        <header>
            <div class="container">
                <nav id="nav-ul">
                    <ul class="nav-ul">
                        <li class="nav-li active">
                            <i class="fas fa-user"></i>
                            <a href="#about" class="link" data-filter="content-about">About</a> 
                        </li>
                        <li class="nav-li">
                            <i class="fas fa-poll-h"></i>
                            <a href="#resume" class="link" data-filter="content-resume">Resume</a> 
                        </li>
                        <li class="nav-li">
                            <i class="fas fa-pencil-alt"></i>
                            <a href="#portfolio" class="link" data-filter="content-portfolio">PortFolio</a> 
                        </li>
                        <li class="nav-li">
                            <i class="fab fa-stack-exchange"></i>
                            <a href="#blog" class="link" data-filter="content-blog">Blog</a> 
                        </li>
                        <li class="nav-li">
                            <i class="fas fa-envelope"></i>
                            <a href="#contact" class="link" data-filter="content-contact">Contact</a> 
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- CONTENT SECTION -->
        <section>
            <div class="container main-container">
                <!-- PROFILE SECTION -->
                <div class="profile">
                    <div class="profile-image">
                         <img src="/static/images/Profile1.jpg"  height="280px"> 
                    </div>
                    <div class="profile-content">
                        <h2>Ritika Pandey</h2>
                        <p class="text-effect">Web Developer</p>
                        <div class="profile-icons">
                            <a href="https://mobile.twitter.com/p_ritikaaa" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://github.com/RitikaPandey77" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.hackerrank.com/pandeyvaishali77" target="_blank">                               <i class="fab fa-hackerrank"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ritika-pandey-1345b1180/" target="_blank">
                                
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://instagram.com/oblivion__pull?igshid=YmMyMTA2M2Y=" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>

                <!-- MAIN CONTENT SECTION -->
                <div class="content-all">
                    <!-- CONTENT ABOUT -->
                    <div class="content content-about" id="about">
                        <div class="content-header">
                            <h2><span>About</span> Me</h2>
                        </div>
                        <div class="content-details">
                            <img src="/static/images/Profile2.jpg" alt="profile">
                            <p><span class="text">Hello! I'm</span><span class="name"> Ritika Pandey</span></p>
                            <p>
                            Seasoned and independent Full Stack Developer with experience in blending the art of design with skill of
programming to deliver an immersive and engaging user experience through efficient website, application
development.
                            </p>
                        </div>
                    </div>

                    <!-- CONTENT RESUME -->
                    <div class="content content-resume" id="resume">
                        <div class="content-header">
                            <h2><span>My</span> Resume</h2>
                            <div style="text-align: end;">    
                                <a href="https://drive.google.com/file/d/1GUleURInNJfZsdj-1vM6yiUyamaktD9Y/view?usp=drivesdk" target="_blank">
                                    <button type="button" class="btn btn-primary">Download Resume</button>
                                </a>
                            </div>
                        </div>
                        <div class="content-details">
                            <div class="resume">
                                <div class="my-resume education">
                                    <div class="title">
                                        <h3>Education</h3>
                                    </div>
                                    <div class="details">
                                        <div class="specific-details">
                                            <p class="year">2018-2022</p>
                                            <div class="year-details">
                                                <p class="year-title">
                                                    BBDNIIT, Lucknow 
                                                </p>
                                                <p class="year-desc">
                                                    Computer Science & Engineering Grad.<br>
                                                    8.14 CGPA (1st Division with Distinction)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-resume experience">
                                    <div class="title">
                                        <h3>Experience</h3>
                                    </div>
                                    <div class="details">
                                        <div class="specific-details">
                                            <p class="year">2022-Present</p>
                                            <div class="year-details">
                                                <p class="year-title">
                                                    Associate Engineer Trainee
                                                </p>
                                                <p class="year-desc">
                                                    Trained as a Full Stack Developer and worked upon various
individually assigned projects.Conducted in-depth investigations and assessments into
engineering plans to prepare calculations and estimates. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ADD A LINE -->
                            <div class="content-line"></div>
                            <!-- MY SKILLS -->
                            <div class="my-skills">
                                <div class="title">
                                    <h3>My Skills</h3>
                                </div>
                                <div class="skills">
                                    <div class="skill">
                                        <img src="/static/images/html.png" alt="">
                                        <p>HTML</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/css logo.png" alt="">
                                        <p>CSS</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/js.jpg" alt="">
                                        <p>JavaScript</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/aws-logo.png" alt="">
                                        <p>Amazon Web Services</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/Java-Logo.png" alt="">
                                        <p>Java</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/git.png" alt="">
                                        <p>GitHub</p>
                                    </div>
                                    <div class="skill">
                                        <img src="/static/images/angular.png" alt="">
                                        <p>Angular</p>
                                    </div>

                                    <div class="skill">
                                        <img src="/static/images/Python.png" alt="">
                                        <p>Python</p>
                                    </div>

                                    <div class="skill">
                                        <img src="/static/images/MySQL.png" alt="">
                                        <p>MySQL</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONTENT PORTFOLIO -->
                    <div class="content content-portfolio" id="portfolio">
                        <div class="content-header">
                            <h2><span>My</span> PortFolio</h2>
                        </div>
                        <div class="content-details">
                            <div class="portfolio">
                                <div class="portfolio-item">
                                   <img src="/static/images/restaurant-management-dashboard.png" alt=""> 
                                   <p class="portfolio-title">
                                      Resturant-management-system
                                   </p>
                                   <p class="portfolio-desc">
                                    Well, I am a foodie....

                                    I love eating tasty food. So, at times when I am out with my friend we use to go to a street side food corner cuz they are cheap and food is also tasty. Sometimes we order so much that it's really a big trouble for the owner to do the calculation.
                                   </p>
                                   <a href="https://github.com/RitikaPandey77/Resturant-management-system" target="_blank">&rarr; View Project</a>
                                </div>
                                <div class="portfolio-item">
                                   <img src="/static/images/clicker.jfif" alt=""> 
                                   <p class="portfolio-title">
                                       Clicker
                                   </p>
                                   <p class="portfolio-desc">
                                    A cool clicking game that checks your control over your touchpad. Click the correct block to get the points. each wrong click will result in points deduction.
Again I thank the vast library support of python that enabled me to complete this project. Please make sure you have these libraries installed in your device before running the code.
                                   </p>
                                   <a href="https://github.com/RitikaPandey77/Clicker">&rarr; View Project</a>
                                </div>
                                <div class="portfolio-item">
                                   <img src="/static/images/quizgame.jpg" alt=""> 
                                   <p class="portfolio-title">
                                       Quiz Game
                                   </p>
                                   <p class="portfolio-desc">
                                    I created this project to challenge and inspire new and enthusiastic software programming language learners. The quiz has 10 questions each and has questions on three languages(C++, Python, Java). You may select the language to start the quiz.                                   </p>
                                   <a href="https://github.com/RitikaPandey77/Quiz" target="_blank">&rarr; View Project</a>
                                </div>
                                <div class="portfolio-item">
                                   <img src="/static/images/portfolio.jpg" alt=""> 
                                   <p class="portfolio-title">
                                       My Portfolio
                                   </p>
                                   <p class="portfolio-desc">
                                    As a Software Engineer it is necessary to have a good portfolio. What can be a better way doing it rather than using all of your coding skills here.<br>                                    And my last two remaining brain cells love technical writing so, using it as well too. While I keep busy fixing the codes, suddenly at 2 AM some thoughts strike my head and I put them on my instagram. Thus, I am guilty of being creative too.
                                   </p>
                                   <a href="https://github.com/RitikaPandey77/My-portfolio" target="_blank">&rarr; View Project</a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!-- CONTENT BLOG -->
                    <div class="content content-blog" id="blog">
                        <div class="content-header">
                            <h2><span>My</span> Blog</h2>
                            <div style="text-align: end;">    
                                <a type="button" href="https://auth.geeksforgeeks.org/user/ritikapandey/articles" target="_blank">
                                    <button type="button" class="btn btn-primary">My Profile</button>
                                </a>
                            </div>
                        </div>
                        <div class="content-details">
                            <div class="blog">
                                <div class="blog-post">
                                    <img src="/static/images/Blogaws.png" alt="">
                                    <p class="post-title">AWS – Introduction to Elastic Cache</p>
                                    <p class="post-desc">
                                        This article intends to make the readers aware of one of the core services of AWS or Amazon Web Services called the Amazon Elastic Cache. Amazon ElastiCache is a complete caching solution proposed by AWS.                                   </p>
                                    <a href="https://www.geeksforgeeks.org/amazon-web-services-introduction-to-elastic-cache/" target="_blank">&rarr; Read Post</a>
                                </div>
                                <div class="blog-post">
                                    <img src="/static/images/ransomblog.jfif" alt="">
                                    <p class="post-title">How to Prevent Ransomware Attack?</p>
                                    <p class="post-desc">
                                        Ransomware is a form of malware in which criminals attack a user’s personal data and threaten the user to publish it online and ask to pay a ransom amount to unblock it.
                                    </p>
                                    <a href="https://www.geeksforgeeks.org/how-to-prevent-ransomware-attack/" target="_blank">&rarr; Read Post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CONTENT CONTACT -->
                    <div class="content content-contact" id="contact">
                        <div class="content-header">
                            <h2><span>Contact</span> Me</h2>
                        </div>
                        <div class="content-details">
                            <div class="contact">
                                <div class="contact-details">
                                    <p class="title">Address</p>
                                    <p>SSE-219, Sector F, L.D.A Colony Kanpur Road Lucknow</p>
                                    <img src="/static/images/white-line.PNG" alt="">
                                </div>
                                <div class="contact-details">
                                    <p class="title">Email</p>
                                    <p>ritika.rppandey@gmail.com</p>
                                </div>
                                <div class="contact-details">
                                    <p class="title">Phone</p>
                                    <p>+91 9984625856</p>          
                                </div>
                                <div class="contact-details">
                                    <p class="title">Freelance</p>
                                    <p>Available</p>
                                </div>
                            </div>
                            <div class="content-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>

